# https://unix.stackexchange.com/a/402398/129967
"\e[A": history-search-backward
"\e[B": history-search-forward

# https://news.ycombinator.com/item?id=11213689
# "\e[5~": history-substring-search-backward
# "\e[6~": history-substring-search-forward
